.gpu{
    width: 96.7%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #151516;
    border-radius: 30px;
    min-height: 700px;
    padding: 40px 40px;
    margin: 30px auto;
    background-image: url('/public/Images/gpu-gams.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
    position: relative;
}
.gpu .line1{
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 600;
    letter-spacing: .011em;
}
.gpu .line2{
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}
.gpu .line2 .left-side{
    flex-direction: column;
    text-align: left;
}
.gpu .line2 .left-side .left-side-line1{
    color: rgb(70, 147, 173);
    direction: ltr;
    display: inline;
    font-size: 80px;
    font-weight: 700;
}
.gpu .line2 .left-side .left-side-line{
    color: #ffffff;
    font-size: 80px;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -.015em;
}
.gpu .line2 .right-side{
    width: clamp(48%, 669px, 98%);
    font-size: 19px;
    line-height: 1.4211;
    font-weight: 600;
    letter-spacing: .012em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}