.macbook-air{
    margin: 28px 0;
    height: 500px;
    text-align: center;
    background-color: transparent;
}
.macbook-air .line1{
    font-size: 34px;
    font-weight: 600;
    padding: 12px 0;
}
.macbook-air .line2{
    margin: 12px 0;
    font-size: 96px;
    font-weight: 700;
    line-height: 84px;
    height: 84px;
    background: radial-gradient(rgb(239, 241, 255), rgb(0, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.macbook-air .line3{
    padding: 12px 0;
    font-size: 34px;
    font-weight: 500;
    color: rgb(161, 161, 166);
    width: clamp(69%, 669px, 98%);
    margin: auto;
}
.macbook-air .line4{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    font-size: 28px;
    font-weight: 500;
    color: rgb(161, 161, 166);
}
.macbook-air .line4 img{
    height: 96px;
}
.macbook-air .line5{
    font-size: 28px;
    font-weight: 300;
    display: flex;
    margin: auto;
    justify-content: center;
}
.macbook-air .line5 .item{ 
    padding: 0 1%;
}